$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$footer-text: hsl(168, 34%, 41%);
$footer: rgb(142, 212, 198);

$very-dark-desat-blue: hsl(212, 27%, 19%);
$very-dark-gray-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// font-family: 'Barlow', sans-serif;   600
// font-family: 'Fraunces', serif;  700, 900


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Fraunces', serif;
}

.desktop-img {
    display: none;
}


            /*      HEADER STYLES       */ 

header {
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #mobile-banner {
        width: 100%;
        z-index: -1;
        position: absolute;
    }

    nav {
        width: 100%;
        height: 4rem;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .nav-links::before {
            content: "";
            height: 0;
            width: 0;
            border: 1rem solid transparent;
            border-bottom-color: $white;
            border-right-color: $white;
            position: absolute;
            top: -2rem;
            right: 0;
        }


        .nav-links {
            display: none;
            position: absolute;
            background-color: $white;
            top: 4rem;
            right: 1.5rem;
            padding: 1rem 3rem;
            list-style: none;
            text-align: center;
            flex-direction: column;

            li {
                margin: .5rem 0;

                .nav-link {
                    text-decoration: none;
                    color: $dark-grayish-blue;
                    font-family: 'Barlow', sans-serif;
                    font-size: .83rem;
                }

                &:nth-of-type(4) {
                    background-color: $yellow;
                    padding: .5rem 1rem;
                    border-radius: 1.5rem;

                    .nav-link {
                        font-family: 'Fraunces', serif;
                        font-size: .65rem;
                        color: $very-dark-desat-blue;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .show-nav { //  GOES ON .NAV-LINKS UL
            display: flex;
        }
    }

    .banner {
        height: 30rem;
        width: 30rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3rem;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 6px;
        }
    }
}


            /*      MAIN STYLES       */ 

main {
    width: 100%;

    .learn-more {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        
        .info {
            padding: 4rem 1rem;

            .info-header {
                font-size: 1.95rem;
                margin-top: 0;
            }

            .info-desc {
                font-family: 'Barlow', sans-serif;
                color: $very-dark-gray-blue;
                line-height: 2rem;
                font-size: 1.15rem;
                margin-bottom: 2rem;
            }

            .learn-more-btn {
                margin: 1.5rem 0;
                font-size: 1.1rem;
                text-transform: uppercase;
                text-decoration: none;
                color: $very-dark-desat-blue;
                position: relative;
                z-index: 4;
            }

            .learn-more-btn::after {
                content: "";
                height: 7px;
                width: 8rem;
                position: absolute;
                top: .9rem;
                left: 0rem;
                background-color: hsla(51, 100%, 49%, 0.336);
            }
        }
    }

    .learn-more:nth-of-type(2) {
        .info {

            .learn-more-btn::after {
                background-color: hsla(7, 99%, 70%, 0.349);
            }
        }
    }

    .overview {
        text-align: center;
        position: relative;  
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }

        .info {
            position: absolute;
            bottom: 10%;

            .info-header {
                font-size: 1.75rem;
                margin: .75rem 0;
            }

            .info-desc {
                padding: 1rem;
                line-height: 1.75rem;
                font-family: 'Barlow', sans-serif;
                max-width: 35rem;
            }
        }
    }

    #graphic-design {
        color: $graphic-design-text;
    }

    #photography {
        color: $photography-text;
    }

    .testimonials {
        text-align: center;
        padding: 2rem 0;

        h4 {
            color: $grayish-blue;
            text-transform: uppercase;
            font-size: .85rem;
            letter-spacing: 5px;
            margin: 2rem 0;
        }

        .testimonial {
            padding: 2.5rem 1.5rem;

            img {
                border-radius: 50%;
                height: 4rem;
            }

            .testimonial-text {
                color: $dark-grayish-blue;
                font-family: 'Barlow', sans-serif;
                font-size: 1.12rem;
                line-height: 1.75rem;
                margin: 2rem 0;
            }

            .client {
                font-size: 1.2rem;
                margin: .5rem;
            }

            .client-position {
                font-family: 'Barlow', sans-serif;
                color: $grayish-blue;
                font-size: .93rem;
            }
        }
    }


    .gallery .mobile-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        .gallery-img {
            width: 100%;
        }
    }  
}


        /*      FOOTER STYLES       */

footer {
    background-color: $footer;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-nav {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 20rem;
        padding: 0 1rem;
        margin: 2rem 0;
        font-family: 'Barlow', sans-serif;

        li {
            .footer-link {
                text-decoration: none;
                color: $footer-text;
            }
        }
    }

    .social-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 12rem;
        padding: 0 1rem;
        margin: 2rem 0;
    }
}




/*      RESPONSIVE STYLES       */


            /*      TABLET STYLES       */


@media only screen and (min-width: 800px) {

    .learn-more {
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $white;
            
            .info-desc {
                width: 80%;
            }
        }

        .mobile-img {
            width: 60%;
        }

        &:nth-of-type(1) {
            background: linear-gradient(0.25turn, #ffd02a, #ffd42b, #ffd02a);
        }
    
        &:nth-of-type(2) {
            background: linear-gradient(0.25turn, #fa8c7d, #ff675c, #ff7366);
        }
        
    }


    .overview-desktop {
        display: flex;

        .overview { 
            width: 50%;
        }
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .testimonial-text {
            width: 30rem;
        }
    }
}
 



        /*      DESKTOP STYLES       */


@media only screen and (min-width: 1100px) {

    .desktop-img {
        display: block;
    }
    .mobile-img {
        display: none;
    }
    
                /*      HEADER STYLES       */ 

    header {
        background-image: url("../images/desktop/image-header.jpg");

        #hamburger {
            display: none;
        }

        nav {
            height: 5rem;
            padding: 3rem 2rem 2rem 2rem;
    
            .nav-links::before {
                display: none;
            }
    
            .nav-links {
                display: flex;
                position: relative;
                background-color: transparent;
                top: 0;
                right: 0;
                padding: 0;
                flex-direction: row;
                align-items: center;                
    
                li {
                    margin-right: 3rem;
    
                    .nav-link {
                        color: $white;
                        font-size: 1rem;
                    }
    
                    &:nth-of-type(4) {
                        background-color: $white;
                        padding: 1rem 2rem;
    
                        .nav-link {
                            font-size: .93rem;
                        }
                    }
                }
            }
        }
    }


                /*      MAIN STYLES       */ 


    main {
    
        .learn-more {
            width: 100%;
            flex-direction: row;
            text-align: left;
            background: none !important;
            
            
            .info {
                width: 50%;
                padding: 0 5rem;
                align-items: flex-start;
                

                .info-header {
                    font-size: 2.25rem;
                    margin: .75rem 0;
                    
                }
    
                .info-desc {
                    font-family: 'Barlow', sans-serif;
                    color: $dark-grayish-blue;
                    line-height: 2.25rem;
                    font-size: 1rem;
                    width: 25rem;
                }
            }

            .highlight-img {
                width: 50%;
            }

            &:nth-of-type(2) {
                flex-direction: row-reverse;
            }
        }

        .overview-desktop {
            width: 100%;
            height: 40rem;
            display: flex;
        }
    
        .overview {
            width: 50%;
            display: flex;
            justify-content: center;

    
            .info {

                .info-header {
                    font-size: 2rem;
                }
    
                .info-desc {
                    width: 24rem;
                }
            }
        }
    
        #graphic-design {
            background-image: url("../images/desktop/image-graphic-design.jpg");
            background-size: cover;
            background-position: center;
        }
    
        #photography {
            background-image: url("../images/desktop/image-photography.jpg");
            background-size: cover;
            background-position: center;
        }
    

        .testimonials {
            margin: 8rem 0;
    
            h4 {
                font-size: 1.15rem;
            }


            .testimonial-display {
                display: flex;
                justify-content: center;
            }
    
            .testimonial {
                width: 22rem;
    
                .testimonial-text {
                    margin: 4rem 0;
                    line-height: 2rem;
                    width: 20rem;
                    font-size: 1rem;
                }
    
                .client-position {
                    font-family: 'Barlow', sans-serif;
                    color: $grayish-blue;
                    font-size: .93rem;
                }
            }
        }

    
        .gallery .mobile-img {
            display: none;
        }
    
        .gallery .desktop-img {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
    
            .gallery-img {
                width: 100%;
            }
        } 
    }
}














.attribution { 
    font-size: 11px; text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
 